@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BulkyBooks BookList</h1>
    <p>This is a full stack C# Application.</p>
    <p>Use the navigation bar at the top</p>
</div>
